<footer class="bg-black">
    <div class="flex flex-col items-center gap-y-4 py-12 md:justify-between lg:flex-row max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center text-neutral-400">
            Created by <a class="text-neutral-200" href="https:robertdennis.netlify.app" target="_blank">Atlas</a>
        </div>

        <nav class="flex flex-wrap justify-center">
            <div class="py-2 px-5">
                <a href="/tos" class="text-base text-neutral-500 hover:text-neutral-400">
                    Terms of service
                </a>
            </div>
            <div class="py-2 px-5">
                <a href="/privacy-policy" class="text-base text-neutral-500 hover:text-neutral-400">
                    Privacy Policy
                </a>
            </div>
        </nav>

        <!-- <p class="text-center text-neutral-400">
            All rights reserved.
        </p> -->
    </div>
</footer>
