---
import SiteSwitcher from "./SiteSwitcher.vue";
---

<div class="py-4 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <header class="relative">
    <div class="sm:pt-2 lg:pt-6">
      <div class="flex relative justify-between items-center">
        <aside class="flex flex-1 items-center">
          <div class="flex justify-between items-center w-full md:w-auto">
            <SiteSwitcher client:visible />

            <div class="hidden -space-x-1 md:flex md:ml-4">
              <a
              href="/"
              class="inline-flex items-center border font-medium relative text-base px-4 py-2 rounded-md text-white border-transparent hover:text-neutral-300"
            >
              <span>Home</span>
            </a>
              <a
                href="/#features"
                class="inline-flex items-center border font-medium relative text-base px-4 py-2 rounded-md text-white border-transparent hover:text-neutral-300"
              >
                <span>Features</span>
              </a>
              <a
                href="/docs"
                target="_blank"
                class="inline-flex items-center border font-medium relative text-base px-4 py-2 rounded-md text-white border-transparent hover:text-neutral-300"
              >
                <span>Documentation</span>
              </a>
              <a
                href="https://chroma.noclip.me"
                target="_blank"
                class="inline-flex items-center border font-medium relative text-base px-4 py-2 rounded-md text-white border-transparent hover:text-neutral-300"
              >
                <span>Demo</span>
              </a>
            </div>
          </div>
        </aside>

        <aside
          class="hidden md:flex md:items-center md:space-x-2 transition-opacity"
        >
          <a
            href="https://noclip.me/login"
            class="inline-flex items-center border font-medium relative text-base px-4 py-2 rounded-md text-white border-transparent hover:text-neutral-300 transition-all"
          >
            <span>Sign in</span>
          </a>

          <a
            href="https://noclip.me/dashboard"
            class="inline-flex items-center border font-medium relative text-base px-4 py-2 rounded-md text-white border-primary-600 bg-primary-500 hover:bg-primary-600 hover:border-primary-700 shadow-sm transition-all"
          >
            <span>Create your community</span>
          </a>
        </aside>
      </div>
    </div>
  </header>
</div>
