    <div>
        <div class="relative group rounded-xl bg-neutral-900/60 backdrop-blur-lg motion-safe:transition shadow-xl hover:-translate-y-1 relative z-10 flex flex-col cursor-pointer overflow-hidden rainbow-border">

            <figure class="relative overflow-hidden pt-[8.5rem] select-none rounded-t-lg">
                <div class="absolute inset-0 w-full h-full overflow-hidden">
                    <img class="absolute inset-0 w-full h-full object-cover object-center mask-gradient opacity-50"
                        loading="lazy"
                        src="https://cdn.noclip.gg/OJsgcU0SVPplvxWw/TROk75OoOidDn8xq0VJCEYOdrSO8kP-metaMTEzLTExMzg4MTdfdmlwLWNsaXBhcnQoMSkucG5n-.png"
                        alt="Jedi Package " width="280" height="160">
                </div>
            </figure>

            <div class="absolute top-0 right-0 px-3 py-1 rounded-full bg-neutral-800/90 m-4 shadow text-neutral-50">
                $30.00
            </div>

            <div class="relative z-20  ">
                <div class="px-4 py-2 flex-grow flex flex-col">
                    <div class="inline rainbow-text text-sm font-medium prose prose-neutral prose-invert">
                        Featured
                    </div>


                    <h3 class="truncate text-neutral-200 font-medium truncate text-neutral-50">
                        VIP
                    </h3>

                    <p
                        class="break-words whitespace-pre-line flex-grow break-words whitespace-pre-line max-w-none">
                            » Allows access to VIP Discord Channels

                            » 800,000 In-game Currency
                    </p>
                </div>
            </div>

            <div class="absolute top-0 right-0 w-full h-full z-10  highlight-white/20  rounded-xl"></div>
        </div>

        <div class="text-sm text-neutral-400 mt-2">
            Example package from: <a href="https://tgn.noclip.me/" target="_blank">https://tgn.noclip.me/</a>
        </div>
    </div>